@{
	ViewData["Title"] = "ログインフォーム";
}


<h2>ログイン</h2>

@if (ViewBag.Error != null)
{
<div class="alert alert-danger" role="alert">
    @ViewBag.Error
</div>  
}

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Account" asp-action="Login" method="post">
            <div class="form-group">
                <label for="employeeId">社員ID</label>
                <input type="text" name="employeeId" placeholder="社員ID" id="employeeId" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">パスワード</label>
                <input type="password" name="password" placeholder="パスワード" id="password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="ログイン" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>